// _step_02_var.scss
// variable(변수)

$primary:#66f;
$fontcolor:#fff;
$white:#f0f0f0;
$black:#171717;
$linkCokor:#f6f;
$lineColor:#0f6;

// line
$lineColor:#0f6;
$linewidth:1px; 
$line:$linewidth solid $lineColor;

// font
$fontsize:1em;
$font-family: 'myriad prod', arial, sans-serif;

//--------------------------

%hidden{display: block; width: 0; height: 0;
        position: absolute; x-index:-100;
        overflow: hidden;}
